<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/css/base.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/product-details.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/item.css}"/>
    <title>Inconsistency list</title>
</head>

<body>
<header th:insert="fragments/header.html :: header"> </header>
<main>

    <section class="articles">
        <article class="sellers">
            <div class="card">

                <div class="title">
                    <h1>Market list</h1>
                </div>
                <form class="search" action="markets" method="GET">
                    <input type="text" placeholder="Search.." id="name" name="name">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>

            </div>
        </article>

        <article class="sellers" th:each="market: ${marketList}">
            <div class="card">
                <div class="info">
                    <div class="productName">
                        <img th:src="${market.image}" alt="" class="product-image">
                        <h1 th:text="${market.name }"/>
                    </div>
                    <div class="description">
                        <h3>Product Info</h3>
                        <p th:text="${market.webPage }"/>
                    </div>

                    <div th:each="product: ${market.productList}">
                        <div class="buy-price" th:if="${#lists.size(product.inconsistencyList) > 0}">
                            <div class="product">
                                <img th:src="${product.image}" alt="" class="product-image">
                                <span class="market" th:text="${product.name}"/>
                            </div>
                            <div class="price">
                                <h1 th:text="${#lists.size(product.inconsistencyList) + ' reports'} "/>
                            </div>
                            <a href="#" class="buy"><i class="fas fa-shopping-cart"></i>Inconsistencies</a>
                            <a href="#" class="report"><i class="fa fa-flag"></i>Penalize</a>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </section>
</main>
</body>

</html>