<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/css/base.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/item.css}"/>
    <title>Market list</title>
</head>

<body>
<header th:insert="fragments/header.html :: header"> </header>
<main>
    <section class="articles">
        <article>
                <div class="title">
                    <h1>Market list</h1>
                </div>
                <form class="search" action="markets" method="GET">
                    <input type="text" placeholder="Search.." id="name" name="name">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
                <div class="card" th:each="market: ${markets}">
                    <div class="info">
                        <div class="item-name">
                            <a th:href="@{${@environment.getProperty('frontend.url') + '/markets/' + market.id + '/products' }}">
                                <img th:src="${market.image}" alt="" class="item-image">
                                <span th:text="${market.name}" />
                            </a>
                        </div>
                        <div class="description">
                            <a th:href="${market.webPage}" >
                                <h3 class="title">Web Page</h3>
                            </a>
                        </div>
                    </div>
                </div>
        </article>
    </section>
</main>
</body>

</html>