<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/css/base.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/market-details.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/item.css}"/>
    <title>Market list</title>
</head>

<body>
<header th:insert="fragments/header.html :: header"> </header>
<main>

    <section class="articles">
        <article class="sellers">
            <div class="card">
                <div class="info">
                    <div class="title">
                        <h1>Market details</h1>
                    </div>
                    <div class="market-name">
                        <img th:src="${market.image}" alt="" class="product-image">
                        <span th:text="${market.name }" class="market-name"/>
                        <a th:href="@{${'http://localhost:8081/markets/' + market.id + '/reviews' }}" class="btn-review">
                            <i class="far fa-star"></i>Reviews</a>
                        <a href="#" class="btn-fav"><i class="fa fa-heart"></i>Fav</a>
                    </div>
                </div>
            </div>
        </article>

        <article>
            <div class="title">
                <h1>Product list</h1>
            </div>
            <form class="search" method="GET">
                <input type="text" placeholder="Search.." id="name" name="name">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
            <div class="card" th:each="product: ${products}">
                <div class="info">
                    <div class="item-name">
                        <a th:href="@{${'http://localhost:8081/products/' + product.id }}">
                            <img th:src="@{${ product.image }}" alt="" class="item-image" >
                            <span th:text="${product.name}"/>
                        </a>
                    </div>
                    <div class="description">
                        <h3 class="description-title">Product Info</h3>
                        <p class="text" th:text="${product.description}" />
                    </div>
                    <div th:each="marketProduct: ${product.marketProductList}">
                        <div class="buy-price" th:if="${marketProduct.market.id == 1}">
                            <div class="price">
                                <i class="fas fa-dollar-sign"></i>
                                <h1 th:text="${marketProduct.price}"/>
                            </div>

                            <a th:href="@{${'http://localhost:8081/markets/' + marketProduct.market.id + '/products/' + product.id + '/reviews/'}}"
                               class="buy"><i class="far fa-star"></i>Reviews</a>
                            <a href="#" class="buy"><i class="fas fa-shopping-cart"></i>Add to wishlist</a>
                            <a th:href="@{${'http://localhost:8081/markets/' + marketProduct.market.id + '/products/' + product.id + '/inconsistencies/'}}"
                               class="report"><i class="fa fa-flag"></i>Report product</a>

                        </div>
                    </div>
                </div>
            </div>
        </article>
    </section>
</main>
</body>

</html>