<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/css/base.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/item.css}"/>
    <title>Market list</title>
</head>

<body>
    <header th:insert="fragments/header.html :: header"> </header>
    <main class="main">
        <section class="articles">
            <article>
                    <div class="title">
                        <h1>Product list</h1>
                    </div>
                    <form class="search" action="products" method="GET">
                        <input type="text" placeholder="Search.." id="name" name="name">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                    <div class="card" th:each="product: ${products}">
                        <div class="info">
                            <div class="item-name">
                                <a th:href="@{${@environment.getProperty('frontend.url') + '/products/' + product.id }}">
                                    <img th:src="${ product.image }" alt="" class="item-image" >
                                    <span th:text="${product.name}"/>
                                </a>
                            </div>
                            <div class="description">
                                <h3 class="description-title">Product Info</h3>
                                <p class="text" th:text="${product.description}" />
                            </div>
                        </div>
                    </div>
            </article>
        </section>
    </main>
</body>

</html>