<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/css/base.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/product-details.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/item.css}"/>
    <title>Market list</title>
</head>

<body>
<header th:insert="fragments/header.html :: header"> </header>
<main>

    <section class="articles">
        <article class="sellers">
            <div class="card">
                <div class="info">
                    <div class="title">
                        <h1>Product details</h1>
                    </div>
                    <div class="productName">
                        <img th:src="@{${'http://localhost:8091/files/' + product.image }}" alt="" class="product-image">
                        <h1 th:text="${product.name }"/>
                        <p th:text="${product.category.name}"/>
                    </div>
                    <div class="description">
                        <h3>Product Info</h3>
                        <p th:text="${product.description}"/>
                    </div>
                    <div class="buy-price" th:each="marketProduct: ${product.marketProductList}">
                        <a th:href="@{${'http://localhost:8081/markets/' + marketProduct.market.id + '/products?name=' + product.name }}">
                            <h3 class="market" th:text="${marketProduct.market.name}"/>
                        </a>
                        <div class="price">
                            <i class="fas fa-dollar-sign"></i>
                            <h1 th:text="${marketProduct.price}"/>
                        </div>
                        <a href="#" class="buy"><i class="fas fa-shopping-cart"></i>Add to wishlist</a>
                        <a th:href="@{${'http://localhost:8081/products/' + product.id + '/markets/' + marketProduct.market.id + '/inconsistencies/'}}"
                           class="report"><i class="fa fa-flag"></i>Report product</a>
                    </div>
                </div>
            </div>
        </article>
    </section>
</main>
</body>

</html>