<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/css/base.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/signup.css}"/>
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans" />
    <link type="text/css" rel="stylesheet" th:href="@{/css/google.css}"/>
    <title>Sign up</title>
</head>

<body>
<header th:insert="fragments/header.html :: header"> </header>
<main>

    <section class="articles">
        <article class="sellers">
            <div class="card">
                <div class="info">
                    <div class="title">
                        <h1>Sign up</h1>
                    </div>

                    <form class="form" th:action="@{/signup}" th:object="${consumer}" method="post" enctype="multipart/form-data">
                        <div class="form-details">
                            <div class="form-item">
                                <label for="email">Email: </label>
                                <input type="email" id="email" name="email" required th:field="*{email}" />
                            </div>

                            <div class="form-item">
                                <label for="password">Password: </label>
                                <input type="password" id="password" th:field="*{password}">
                            </div>

                            <div class="form-item">
                                <label for="phone">Phone: </label>
                                <input type="text" id="phone" th:field="*{phoneNumber}">
                            </div>

                            <div class="form-item">
                                <label for="rfc">RFC: </label>
                                <input id="rfc" type="text" th:field="*{rfc}">
                            </div>

                            <div class="form-item">
                                <label for="fullname">Name: </label>
                                <input type="text" id="fullname" th:field="*{fullName}">
                            </div>

                            <div class="form-item">
                                <label for="surname">Surname: </label>
                                <input type="text" id="surname" th:field="*{surname}">
                            </div>
                        </div>

                        <div class="button">
                            <input type="submit" class="clickable" value="Create account">
                        </div>

                        <a th:href="@{/oauth2/authorization/google}">
                            <div class="google-btn">
                                <div class="google-icon-wrapper">
                                    <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
                                </div>
                                <p class="btn-text"><b>Sign in with google</b></p>
                            </div>
                        </a>
                    </form>
                </div>
            </div>
        </article>

    </section>
</main>
</body>

</html>