article {
    margin-bottom: 30px;
    padding: 20px;
}

.product-image{
    width: 100px;
    height: 100px;
    margin: 10px 15px 0 0;

}

.btn{
    display: inline-block;
    padding: .5rem 1.3rem;
    font-size: .8rem;
    border: 2px solid #fff;
    border-radius: 2rem;
    line-height: 1;
    margin: 0 .2rem;
    transition: .3s;
    text-transform: uppercase;
}

.btn.solid, .btn.transparent:hover{
    background-color: #fff;
    color: #69bde7;
}

.btn.transparent, .btn.solid:hover{
    background-color: #60b4df;
    color: #fff;
}

.title h1{
    font-size: 2rem;
}

.btn-review, .btn-fav{
    vertical-align: middle;
    margin-left: 10px;
    padding: .7rem 1rem;
    background: #60b4df;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 1.1rem;
    transition: .5s;
}

.btn-review i, .btn-fav i{
    margin-right: 2px;
}

.market {
    width: 30%
}

.webPage {

}

.profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right; 10px;
}

.profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.profile {
    display: flex;
    align-items; center;
}

.name-date {
    display:flex;
    flex-direction: column;
}

.name-date strong {
    color: #3d3d3d;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}

.name-date span {
    color: #979797;
    font-size: 0.8rem;
}

.reviews {
    color: #f9d71c;
}

.client-comment p {
    font-size: 0.9rem;
    color: #4b4b4b;
}


.market-name {
    margin: 15px 0 15px 0;
    align-elements: center;
      align-items: center;
      display: flex;
}

.market-name{
    flex: 1;
}

.market-name span {
    font-size: 1.5rem;
    font-weight: bold;
}

.btn-fav {
    float: right;
}

.btn-review {
    float:right;
}

.search .title {
    margin-bottom: 10px;
}

.search input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

.search button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

.search button:hover {
  background: #0b7dda;
}

.search::after {
  content: "";
  clear: both;
  display: table;
}