<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/css/base.css}"/>
    <title>Home page</title>
</head>

<body>
<header th:insert="fragments/header.html :: header"> </header>
<main>
    <section>
        <div class="overlay"></div>
    </section>
</main>
</body>

</html>