<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/css/base.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/form.css}"/>
    <title>Product Details</title>
</head>

<body>
<header th:insert="fragments/header.html :: header"> </header>
<main class="main">
    <section class="articles">
        <article class="sellers">
            <div class="card">
                <div class="info">
                    <!--                    <form class="form" action="#" th:action="@{'/consumers/edit' }" th:object="${consumer}" method="post" enctype="multipart/form-data">-->
                    <form class="form" th:object="${product}">
                        <div class="title">
                            <h1>Edit product</h1>
                        </div>

                        <div class="form-details">
                            <div class="form-item">
                                <label for="name">Product Name: </label>
                                <input type="text" id="name" required th:field="*{name}" readonly/>
                            </div>

                            <div class="form-item">
                                <label for="price">New Price: </label>
                                <input type="text" id="price" th:value="${marketProduct.price}" required>
                            </div>
                        </div>

                        <div class="button">
                            <input type="button" class="clickable btn-update" value="Update price" onclick="send()"><br>
                            <input type="button" class="clickable btn-remove" value="Delete product" onclick="send()">
                        </div>
                    </form>
                </div>
            </div>
        </article>
    </section>
</main>
</body>

</html>